
@import "./../assets/sass/mixins.scss";

.project__nav {
    background-color: #e3f7ff;
    padding: 40px;
    position: fixed;
    z-index: 9;
    width: 100%;
    top: 0;
    @include mediaTablet580() {
       padding: 20px;
      }
    
}

.project__nav__links__wrapper{
    display: flex;
       flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 60px;
    row-gap: 15px;
      // @include mediaTablet580() {
      //   flex-direction: column;
      //   align-items: flex-end;
      // }
}
.links {
    color: rgb(29 94 216);
    font-size: 20px;
    white-space: nowrap;
    &:hover {
       text-decoration: underline;
    }
}
.lines {
	border-bottom: 1px #cecece69 solid;
  height: 65px;
}
 .tbody {
  overflow-y: scroll !important; 
 }